body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}


header{
    background-color: #2c3e50;
    color: white;
    padding: 15px;
    margin-bottom: 20px;
}


.profile{
    width: 400px;
    margin: auto;
    padding: 20px;
    border: 2px solid #ccc;
    background-color: #ffffff;
}

/* Image */
.profile img{
    width: 150px;
    height: 150px;
    border-radius: 15px;
}


.bio{
    font-size: 14px;
    margin-top: 10px;
}


footer{
    margin-top: 20px;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
}